@use '../../../../shared/styles/variables' as vars;
@use '../../../../shared/styles/mixins' as mixins;
@use 'sass:map';

.image {
  border-top-left-radius: map.get(vars.$border-radius, sm);
  border-top-right-radius: map.get(vars.$border-radius, sm);
}

.card {
  @include mixins.flex($dir: column) {
    justify-content: space-between;
  }
}
