@use '../../shared/styles/mixins' as mixins;
@use '../../shared/styles/variables' as vars;
@use 'sass:map';

.header {
  @include mixins.stiky;

  z-index: map.get(vars.$z-index, header);
  display: flex;
  align-items: center;
}

.menu {
  flex: 1;
}
